// CHANNEL COLORS
$emerceRed:                     #cb0003;
$ecommerce:                     #2f97c7;
$marketing:                     #77c658;
$media:                         #e9ca4e;
$startups:                       #6c6cd8;
$tech:                          #f48554;
$innovatie:                     #36bbb9;
$gear:                          #7cb8d4;

// DEFAULT COLORS
$darkestGrey:                   #222;
$lightGrey:                     #f4f5f6;
$buttonBlue:                    #60c8f8;
$buttonOrange:                  #ed6658;

$metagrey:                      #999;
$lightlinegrey:                 #eee;
$excerpthovergrey:              #f7f7f7;

// SOCIAL COLORS
$twitterBlue:                   #00aced;
$facebookBlue:                  #3b5998;
$googleRed:                     #dd4b39;
$linkedinBlue:                  #007bb6;

// MONEYZ
$sponsored:                     #3d63b4;
